<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iviui.carlife.modules.user.mapper.UserInfoMapper">
    
    <resultMap id="userInfo" type="com.iviui.carlife.modules.login.vo.UserInfo">
        <id property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
    </resultMap>
    <sql id="whereSql">
        <if test="uid != null  and uid != ''" >
            and uid = #{uid}
        </if>
        <if test="username != null  and username != ''" >
            and username = #{username}
        </if>
    </sql>
    <sql id="peopleColumn">
      id,name,if(sex=0,'男','女') sex,date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime
    </sql>

    <select id="countUserInfo" resultType="integer" parameterType="com.iviui.carlife.modules.user.vo.User">
        select count(*) from user_info <where><include refid="whereSql"/></where>
    </select>
    <select id="listUserInfo" resultMap="userInfo" parameterType="com.iviui.carlife.modules.user.vo.User">
        select uid,name,username,state from user_info <where><include refid="whereSql"/></where> limit #{offset},#{pagesize}
    </select>

    <select id="userInfoDownLoad" resultType="map" parameterType="com.iviui.carlife.modules.user.vo.User">
        select uid,name,username,state from user_info <where><include refid="whereSql"/></where>
    </select>

    <insert id="insertUserInfo" parameterType="map">
        insert into people values
        <foreach collection="list" item="people" separator=",">
            (#{people.id},#{people.name},#{people.sex},sysdate())
        </foreach>

    </insert>

    <select id="queryPeopleData" parameterType="map" resultType="map">
        select <include refid="peopleColumn"/> from people p where p.id &lt; 1100
    </select>

    <select id="getUserInfoByUid" parameterType="string" resultType="map">
        select uid,name,username,state from user_info where uid = #{uid}
    </select>
</mapper>