<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iviui.carlife.modules.user.mapper.UserInfoMapper">

    <resultMap id="userInfo" type="com.iviui.carlife.modules.login.vo.UserInfo">
        <id property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="countUserInfo" resultType="integer">
        select count(*) from user_info
    </select>
    <select id="listUserInfo" resultMap="userInfo">
        select uid,name,username,state from user_info limit #{offset},#{pagesize}
    </select>
</mapper>